 body {
     background-color: #fff3e6;

     text-align: center;

     color: #5a7da0;
     margin: 0;
 }

 h1 {
     font-size: 40px;
 }

 .Game {

     padding-top: 200px;
 }
.num {
 
  text-align: right;
  display: flex;
  justify-content: center;
}



 input[type="number"] {
     padding: 10px;
     font-family: "Arimo", sans-serif;
     font-size: 18px;
     border: 2px solid black;
    
     border-radius: 10px; 
     width: 180px;
     /* 👈 This makes space for full placeholder */
     box-sizing: border-box;

 }

 button {
     padding: 10px 20px;
     background-color: #2f5f9f;
     color: white;
     font-size: 18px;
     border: none;
     border-radius: 8px;
     cursor: pointer;
     margin-left: 10px;
 }

 button:hover {
     background-color:#9EC6F3;
 }

 #message {
     margin-top: 20px;
     font-size: 22px;
     font-weight: bold;
 }
 
